<div class="col text-center d-flex flex-column justify-content-end pb-5">
  {{ range (.Paginator 1).Pages.ByPublishDate.Reverse }}
    <a href="{{ .URL }}" class="latest-blog">
      <ul>
        <li>
          <!-- <hr class="white strikethrough flex-1 mr-4"></hr> -->
          <!-- <span class="interview-number text-white"><i>{{ .Params.Interviewnumber }}</i></span> -->
          <!-- <hr class="white strikethrough flex-1 ml-4"></hr> -->
        </li>
        <li>
          <h1 class="text-white mt-2 mb-4">{{.Title}}</h1>
        </li>
        <li>
          <h3 class="text-white"><i>{{ .Params.Description }}</i></h3>
        </li>
      </ul>
    </a>
  {{ end }}
</div>
