<nav id="sidebar">
  <!-- <a href="#">
    <img src="/img/hamburger.svg" alt="Menu icon" width="24px"/>
  </a> -->
  <div class="fullnavBtn" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>
  <div class="rotate90">
    <small>Made by Ed Vinicombe</small>

    <a href="/">
    	<img src="/img/logo.svg" alt="Kaldi logo" width="64px"/>
    </a>

    <small>Made in the uk &nbsp; | &nbsp; {{ .Date.Format "Jan 2006" }}</small>
  </div>
</nav>
