<nav id="sidebar">
  <!-- <a href="#">
    <img src="/img/hamburger.svg" alt="Menu icon" width="24px"/>
  </a> -->
  <div class="fullnavBtn" id="toggle">
    <span class="top bg-dark"></span>
    <span class="middle bg-dark"></span>
    <span class="bottom bg-dark"></span>
  </div>
  <div class="rotate90">
    <small class="text-black">Made by Ed Vinicombe</small>

    <a href="/">
    	<img src="/img/logo.svg" alt="Kaldi logo" width="64px"/>
    </a>

    <small class="text-black">Made in the uk &nbsp; | &nbsp; {{ .Date.Format "Jan 2006" }}</small>
  </div>
</nav>

<div class="fullnav" id="fullnav">
  <nav class="fullnavMenu">
    <ul>
      <li ><a href="/interviews">Interviews</a></li>
      <li><a href="/podcasts">Submit</a></li>
    </ul>
  </nav>
</div>
