<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}

  {{ if .IsHome }}
     {{ range first 1 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
     <body style="background:url('{{ .Params.Image }}')" class="homepage-background-img home">
     {{ end }}
   {{ else }}
   <body class="other">
   {{ end }}


<div class="container {{ if .IsHome }}justify-content-between{{ end }}">
  {{ block "header" . }}
    {{ partial "nav" . }}
  {{ end }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "scripts" . }}
  </div>
</body>
</html>
