{{ define "main" }}
  <div class="row">
    <div class="col">
      {{ range (where site.RegularPages "Type" "in" site.Params.mainSections) }}
        <a href="{{ .URL }}" class="text-center d-block mb-4">
          <span class="red-decoration"></span>
          <div style="background:url('{{ .Params.Image }}')" class="interview-list-image">
            <h1 class="text-red">{{.Title}}</h1>
            <div class="interview-number-container align-self-end mb-4 mr-4">
              <small class="heavy text-black"><i>Issue</i></small>
              <h3 class="interview-number"><i>{{ .Params.Interviewnumber }}</i></h3>
            </div>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
