.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: $size-64;
  height: 100%;
  z-index: 1000;
  display: flex;
  padding: $size-16 0 0 $size-16;
  background-color: white;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: 0 0;
  height: 100px;
  width: 750px;
  position: absolute;
  top: 95px;
  left: 47px;
  display: flex;
  justify-content: space-between;
}

nav.sidebar .logo {
  width: $size-48;
}

body .sidebar .fullnavBtn span, body.home .sidebar .fullnavBtn span {
  background-color: black;
}

body.home .sidebar .fullnavBtn span {
  background-color: black !important;
}

body.home .sidebar .rotate90 small {
  color: black !important;
}

/* When overlay is open */

.fullnav.open ~ nav.sidebar .logo {
  fill: white;
}

.fullnav.open ~ .sidebar .rotate90 small, .fullnav.open ~ .sidebar .fullnavBtn span {
  color: white !important;
}

.fullnav.open ~ .sidebar {
  background-color: transparent;
}
