.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: $size-56;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: $size-24 0 0 $size-24;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: 0 0;
  height: 100px;
  width: 600px;
  position: absolute;
  top: 165px;
  left: 45px;
  display: flex;
  justify-content: space-between;
}

nav.sidebar .logo {
  width: $size-64;
}

nav.home .logo {
  width: 768px;
}

nav.other .logo {
  width: $size-128;
}

body .sidebar .fullnavBtn span, body.home .sidebar .fullnavBtn span {
  background-color: black;
}

body.home .sidebar .fullnavBtn span {
  background-color: white !important;
}

body.home .sidebar .rotate90 small {
  color: white !important;
}

/* When overlay is open */

.fullnav.open ~ nav.sidebar .logo {
  fill: white;
}

.fullnav.open ~ .sidebar .rotate90 small, .fullnav.open ~ .sidebar .fullnavBtn span {
  color: white !important;
}
