$size-4: calc(4px + (4 - 4) * ((100vw - 300px) / (1280 - 300)));

$size-8: calc(8px + (8 - 8) * ((100vw - 300px) / (1280 - 300)));

$size-10: calc(8px + (10 - 8) * ((100vw - 300px) / (1280 - 300)));

$size-11: calc(8px + (11 - 8) * ((100vw - 300px) / (1280 - 300)));

$size-12: calc(8px + (12 - 8) * ((100vw - 300px) / (1280 - 300)));

$size-14: calc(12px + (14 - 12) * ((100vw - 300px) / (1280 - 300)));

$size-16: calc(16px + (16 - 16) * ((100vw - 300px) / (1680 - 300)));

$size-18: calc(16px + (18 - 16) * ((100vw - 300px) / (1280 - 300)));

$size-24: calc(16px + (24 - 16) * ((100vw - 300px) / (1280 - 300)));

$size-32: calc(24px + (32 - 24) * ((100vw - 300px) / (1280 - 300)));

$size-40: calc(32px + (40 - 32) * ((100vw - 300px) / (1280 - 300)));

$size-48: calc(40px + (48 - 40) * ((100vw - 300px) / (1280 - 300)));

$size-56: calc(32px + (56 - 32) * ((100vw - 300px) / (1280 - 300)));

$size-64: calc(40px + (64 - 40) * ((100vw - 300px) / (1280 - 300)));

$size-72: calc(64px + (72 - 64) * ((100vw - 300px) / (1280 - 300)));

$size-80: calc(64px + (80 - 64) * ((100vw - 300px) / (1280 - 300)));

$size-88: calc(56px + (88 - 56) * ((100vw - 300px) / (1280 - 300)));

$size-128: calc(48px + (128 - 48) * ((100vw - 300px) / (1680 - 300)));

$size-136: calc(48px + (136 - 32) * ((100vw - 300px) / (1680 - 300)));

$size-160: calc(64px + (160 - 64) * ((100vw - 300px) / (1680 - 300)));

$size-184: calc(56px + (184 - 56) * ((100vw - 300px) / (1680 - 300)));

$size-256: calc(152px + (256 - 152) * ((100vw - 300px) / (1680 - 300)));

$size-320: calc(256px + (320 - 256) * ((100vw - 300px) / (1680 - 300)));
