h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: $black;
  font-weight: normal;
}

h1 {
  font-size: $size-184;
  line-height: $size-128;
  font-style: italic;
  font-weight: normal;
}

h2 {
  font-size: $size-128;
  line-height: $size-136;
  font-style: italic;
  font-weight: normal;
}

h3 {
  font-size: $size-40;
  line-height: $size-48;
}

h4 {
  font-size: $size-24;
}

h5 {
  font-size: $size-11;
  text-transform: uppercase;
  letter-spacing: 8px;
}

h1.post-title {
  font-size: $size-184;
  margin-top: -130px;
  line-height: $size-184;

  @media only screen and (max-width: 992px) {
    margin-top: $size-40;
  }
}

h3.interview-number {
  font-size: $size-56;
  font-weight: 900;
  line-height: 30px;
}

.description {
  font-size: $size-24;
  line-height: $size-40;
}

.description::first-letter {
  float: left;
  font-size: 88px;
  margin: 0;
  line-height: 80px;
  padding-right: 3px;

  @media only screen and (max-width: 991px) {
    font-size: $size-18;
    padding: 0;
    line-height: $size-32;
    float: none;
  }
}

p {
  line-height: $size-32;
  letter-spacing: 0.5px;
  margin: 0;
}

small {
  font-size: $size-14;
  text-transform: uppercase;
}

small.heavy {
  font-size: $size-16;
  font-weight: 900;
}

.diamond {
  color: $red;
}

.text-red {
  color: $red;
}

.text-black {
  color: black;
}

.text-large {
  font-size: $size-128;
}
