@import './includes/sizes';
@import './includes/colours';
@import './includes/type';
@import './includes/links';

@import './bootstrap/scss/bootstrap';
@import './bootstrap/scss/bootstrap-grid';
@import './bootstrap/scss/variables';


body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: $size-18;
}

ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

body.home, body.other {
  overflow: hidden;
  padding-top: $size-32;
}

body.other {
  overflow: visible;
}

.homepage-background-img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  padding: 0;
}

.interview-hero {
  height: 704px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;

  > .interview-number-container {
    top: 0;
    right: 0;
    position: absolute;
    margin: $size-40 $size-40 0 0;

    @media only screen and (max-width: 768px) {
      margin: $size-24 $size-24 0 0;
    }
  }

  > img {
    height: 100%;
    object-fit: cover;
  }

  @media only screen and (max-width: 768px) {
    height: 360px;
    padding: 0 $size-40;
  }
}

.interview-number-container {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  padding-top: $size-24;

  @media only screen and (max-width: 1100px) {
    width: 96px;
    height: 96px;
  }
}

.menu {
  background: transparent !important;

    > li a {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.red-decoration {
  height: 4px;
  background: $red;
  width: 190px;
  display: block;
  margin-left: 100px;

  @media only screen and (max-width: 1100px) {
    width: 48px;
    margin-left: 24px;
  }
}

.flex-1 {
  flex: 1;
}

.logo {
  fill: $red;
  width: $size-160;
}

.menu {
  background-color: white;
}

.container {
  max-width: 1600px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.row {
  margin: 0;
}

.latest-blog li {
  transition: 0.2s ease-in-out;
}

.latest-blog:hover li {
  transform: translate(0,-16px);
}

.latest-blog li:nth-child(2) {
  transition-delay: 0.05s;
}

.interview-number {
  font-size: $size-40;
  text-transform: capitalize;
}

hr.white, hr.red {
  border: 1px solid white;
}

hr.red {
  border-color: $red;
}

hr.strikethrough {
  height: 1px;
  width: $size-24;
}

.contribute-alert {
  background-color: $red;
  display: flex;
  justify-content: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.caption {
  font-style: italic;
  border-top: 2px solid $red;

  @media only screen and (max-width: 991px) {
    display: none;
  }
}

.topics-list {
  > a:after {
    content: ",";
  }

  > a:last-of-type::after {
    content: "";
  }
}
