@import './includes/sizes';
@import './includes/colours';
@import './includes/type';
@import './includes/links';

@import './bootstrap/scss/bootstrap';
@import './bootstrap/scss/bootstrap-grid';
@import './bootstrap/scss/variables';


body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: $size-18;
}

ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

body.home, body.other {
  overflow: hidden;
  padding-top: $size-32;
}

body.other {
  overflow: visible;
}

.homepage-background-img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  padding: 0;
}

.post-hero-image {
  height: 704px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  > img {
    height: 100%;
    object-fit: cover;
  }
}

.interview-list-image {
  flex-direction: column;
  align-items: flex-start;
  height: 704px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  display: flex;
}

.interview-number-container {
  width: $size-128;
  height: $size-128;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  padding-top: $size-24;
}

/* body.other .interview-number-container {
  position: absolute;
  top: 48px;
  right: 48px;
} */

.menu {
  background: transparent !important;

    > li a {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.red-decoration {
  height: 4px;
  background: $red;
  width: 190px;
  display: block;
  margin-left: 100px;
}

.flex-1 {
  flex: 1;
}

.logo {
  fill: $red;
  width: $size-160;
}

.menu {
  background-color: white;
}

.container {
  max-width: 1600px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.latest-blog li {
  transition: 0.2s ease-in-out;
}

.latest-blog:hover li {
  transform: translate(0,-16px);
}

.latest-blog li:nth-child(2) {
  transition-delay: 0.05s;
}

.harpoon {
  color: white;
  font-size: $size-40;
}

.interview-number {
  font-size: $size-40;
  text-transform: capitalize;
}

hr.white, hr.red {
  border: 1px solid white;
}

hr.red {
  border-color: $red;
}

hr.strikethrough {
  height: 1px;
  width: $size-24;
}

.contribute-alert {
  background-color: $red;
  display: flex;
  justify-content: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.caption {
  font-style: italic;
}

.topics-list {

  > a:after {
    content: ",";
  }

  > a:last-of-type::after {
    content: "";
  }
}
